GO
/****** Object:  Table [dbo].[CariskPayers]    Script Date: 10/19/2022 9:42:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CariskPayers](
	[Payer Name] [nvarchar](255) NULL,
	[PayerId] [nvarchar](25) NULL,
	[States] [nvarchar](255) NULL,
	[Professional] [nvarchar](1) NULL,
	[Institutional] [nvarchar](1) NULL,
	[PharmacyRx] [nvarchar](1) NULL,
	[WorkComp] [nvarchar](1) NULL,
	[Automotive] [nvarchar](1) NULL,
	[835/EOB] [nvarchar](1) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[CariskPayers] ([Payer Name], [PayerId], [States], [Professional], [Institutional], [PharmacyRx], [WorkComp], [Automotive], [835/EOB]) VALUES (N'Allstate NJ [Electronic]', N'PE005', N'NJ ', N'Y', N'Y', N'N', N'N', N'Y', N'Y')
INSERT [dbo].[CariskPayers] ([Payer Name], [PayerId], [States], [Professional], [Institutional], [PharmacyRx], [WorkComp], [Automotive], [835/EOB]) VALUES (N'American National [Electronic]', N'PAN001', N'NJ MN ', N'Y', N'Y', N'Y', N'N', N'Y', N'Y')
INSERT [dbo].[CariskPayers] ([Payer Name], [PayerId], [States], [Professional], [Institutional], [PharmacyRx], [WorkComp], [Automotive], [835/EOB]) VALUES (N'Bergen Risk [Electronic]', N'BR101', N'NJ ', N'Y', N'Y', N'N', N'Y', N'N', N'Y')
GO
